{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<div class="sheet">
    <h1 class="entry-title">
      {{ article.title }}</h1>
  <div class="post-info">
  	{% if article.category == 'Blog' %}
    <time class="published" datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
    {% if article.modified %}
    <time class="modified" datetime="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </time>
    {% endif %}
    {% if article.authors %}
    <address class="vcard author">
      By {% for author in article.authors %}
          <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
        {% endfor %}
    </address>
    {% endif %}
    {% endif %}
    {% if article.category %}
    <div class="category">
        <a class="btn cat-btn" href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category.name }}</a>
    </div>
    {% endif %}
    {% if article.tags %}
    <div class="tags">
        {% for tag in article.tags %}
			<a class="btn tag-btn" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
		{% endfor %}
    </div>
    {% endif %}
  </div><!-- /.post-info -->
  
  {{ article.content }}
  
</div>
{% endblock %}