<!DOCTYPE html5>
<html lang="{{ DEFAULT_LANG }}">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% block title %}{{ SITENAME }}{% endblock title %}</title>

<!-- Meta -->
<meta name="description" content="{{ SITENAME }} &ndash; {{ SITESUBTITLE }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="#2F847C" />

<!-- CSS --> 
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/normalize.css" />
<link rel="stylesheet" type="text/css" href="{{ SITEURL }}/theme/css/style.css" />
<link href="https://fonts.googleapis.com/css?family=Big+Shoulders+Text|Lora|Roboto:400,700&display=swap" rel="stylesheet">
</head>
<!-- Ic0n -->
<link rel="shortcut icon" type="image/x-icon" href="{{ SITEURL }}/theme/images/favicon.png">

  <body>
    <div class="main">
      <header class="banner">
          <a href="/" title="Home"><img src="/theme/images/star.svg"></a>
          
        <h1 class="sitename"><a href="/" title="Home">{{ SITENAME }}</a></h1>
        <div id="menu">
          <ul class="nav">
              {% if LINKS %}
              {% for name, link in LINKS %}
              <li><a id='cats' href="{{ link }}">{{ name }}</a></h4></li>
                      {% endfor %}
      {% endif %}
            {% if DISPLAY_PAGES_ON_MENU %}
              {% for p in pages %}
                <li><a id='cats' href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></h4></li>
              {% endfor %}
            {% endif %}   
          </ul>
        </div>
      </header>
    <div class="content">
      <div class="info">
        {% block content %}
        {% endblock %}
        </div>
      
    </div>
  </body>
</html>
