{% extends "base.html" %}
{% block content %}

<h1> COVID-19  Recommendations</h1>

<img src="/theme/images/ilppenet.png">

<p>During the COVID-19 pandemic, Makers in Chicago recommends healthy individuals able to make PPE (3D Printers, Laser Cutters, Sewing Machines, etc) sign up and join the <a href="https://www.illinoisppe.org/">Illinois PPE Network</a>.</p>

<p>For individuals with computers but <b>without</b> the ability to make PPE, Makers in Chicago recommends downloading the <a href="https://foldingathome.org/covid19/">Folding@home</a> tool and donating your computer's proccessing power to their work.</p>

<h4>Last updated 12:20 p.m. on May 22, 2020</h4>

<h1>Directory</h1>
{% for cat, articles in categories %}
        
        
    
    {% if not cat == 'Blog' %}
    <h2><a id='cats' href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a></h2>
    <div id="post-list">
            {% for a in articles %}
                   <div class="sheet">
                       <article>
                    <a class="entry">
                                <h2 class="entry-title"><a href="{{ a.site }}" target="_blank" rel="bookmark" title="Permalink to {{ a.title|striptags }}">{{ a.title }}</a></h2>
                            {% if a.address %}
                            <div class="address">{{ a.address }}</div>
                            {% endif %}
                            {% if a.category == 'Blog' %}
                            <footer class="post-info">
                                <time class="published" datetime="{{ a.date.isoformat() }}"> {{ a.locale_date }} </time>
                                <address class="vcard author">By
                                {% for author in a.authors %}
                                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                                {% endfor %}
                                </address>
                            </footer>
                            <!-- /.post-info -->
                            {% endif %}
                            {% if a.tags %}
                            <div>
                              {% for tag in a.tags %}
                              <a class="btn tag-btn" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                              {% endfor %}
                            </div>
                            {% endif %}
                            <div class="entry-content"> {{ a.summary }} </div><!-- /.entry-content -->
                    </article>
                </div>
            {% endfor %}
            </div>
    {% endif %}
    
        {% endfor %}
      
</div>
	
{% endblock content %}
<hr>
<sub> <a href="http://jorgegarcia.io">Designed by JorgeIO</a> </sub>