{% extends "base.html" %}
{% block content %}
<div>
       <div class="directory">
      
            {% if DISPLAY_PAGES_ON_MENU %}
            {% for p in pages %}
            <li {% if p==page %} class="current" {% endif %}><h2><a id='cats' href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></h2></li>
            {% endfor %}
            {% endif %} 
        
        {% for cat, articles in categories %}
        <div class="mids">
        <li {% if cat==category and a==article %} class="current" {% endif %}><h2><a id='cats' href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a></h2></li>
        </div>
        <ul>
    {% if not cat == 'Blog' %}
    <ol id="post-list">
            {% for a in articles %}
                   <div class="sheet">
                    <li><a class="hentry">
                            <header>
                                <h2 class="entry-title"><a href="{{ SITEURL }}/{{ a.url }}" rel="bookmark" title="Permalink to {{ a.title|striptags }}">{{ a.title }}</a></h2>
                            </header>
                            {% if a.address %}
                            <div class="address">{{ a.address }}</div>
                            {% endif %}
                            {% if a.category == 'Blog' %}
                            <footer class="post-info">
                                <time class="published" datetime="{{ a.date.isoformat() }}"> {{ a.locale_date }} </time>
                                <address class="vcard author">By
                                {% for author in a.authors %}
                                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                                {% endfor %}
                                </address>
                            </footer>
                            <!-- /.post-info -->
                            {% endif %}
                            {% if a.tags %}
                            <div>
                              {% for tag in a.tags %}
                              <a class="btn tag-btn" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                              {% endfor %}
                            </div>
                            {% endif %}
                            <div class="entry-content"> {{ a.summary }} </div><!-- /.entry-content -->
                    </article></li>
                </div>
            {% endfor %}
            </ol>
    {% endif %}
        </ul>
        {% endfor %}
    
        {% for title, link in MENUITEMS %}
        <li ><a href="{{ link }}">{{ title }}</a></li>
        {% endfor %}
      
    </details>
</div>
	
{% endblock content %}