{% extends "base.html" %}
{% block content %}

<h1> COVID-19  Recommendations</h1>

<p>During the COVID-19 pandemic, Makers in Chicago recommends individuals <b>with</b> digital fabrication tools (3D Printers, Laser Cutters, etc) create parts for building face shields requested by Swedish Covenant Hospital. The Chief Medical Officer at Swedish has approved designs from Limitless Studios found on <a href="https://covidsupplyconnection.com/">COVIDSupplyConnection.com</a>. If you are interested in fabricating parts to donate, join their Facebook Group, <a href="https://www.facebook.com/groups/512046289743405">3D Printed Face Shields for Swedish</a>, read the About page daily, and take part in the discussion. Swedish has pledged to distribute the shields to healthcare workers across Chicago.</p>

<p>For individuals with computers but <b>without</b> digital fabrication tools, Makers in Chicago recommends downloading the <a href="https://foldingathome.org/2020/03/15/coronavirus-what-were-doing-and-how-you-can-help-in-simple-terms/">Folding@home</a> tool and donating your computer's proccessing power to their work.</p>

<h4>Last updated 8:20 a.m. on April 2, 2020</h4>

<h1>Directory</h1>
{% for cat, articles in categories %}
        
        
    
    {% if not cat == 'Blog' %}
    <h2><a id='cats' href="{{ SITEURL }}/{{ cat.url }}">{{ cat.name }}</a></h2>
    <div id="post-list">
            {% for a in articles %}
                   <div class="sheet">
                       <article>
                    <a class="entry">
                                <h2 class="entry-title"><a href="{{ a.site }}" target="_blank" rel="bookmark" title="Permalink to {{ a.title|striptags }}">{{ a.title }}</a></h2>
                            {% if a.address %}
                            <div class="address">{{ a.address }}</div>
                            {% endif %}
                            {% if a.category == 'Blog' %}
                            <footer class="post-info">
                                <time class="published" datetime="{{ a.date.isoformat() }}"> {{ a.locale_date }} </time>
                                <address class="vcard author">By
                                {% for author in a.authors %}
                                    <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                                {% endfor %}
                                </address>
                            </footer>
                            <!-- /.post-info -->
                            {% endif %}
                            {% if a.tags %}
                            <div>
                              {% for tag in a.tags %}
                              <a class="btn tag-btn" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
                              {% endfor %}
                            </div>
                            {% endif %}
                            <div class="entry-content"> {{ a.summary }} </div><!-- /.entry-content -->
                    </article>
                </div>
            {% endfor %}
            </div>
    {% endif %}
    
        {% endfor %}
      
</div>
	
{% endblock content %}
<hr>
<sub> <a href="http://jorgegarcia.io">Designed by JorgeIO</a> </sub>