body {
	background-color: #f3f3f3;
	color: #4D4D4D;
	font-family: 'Roboto';
	font-size: 62.5%;
}

.banner {
	margin:  0 auto;
	display: table;
	text-align: center;
}

p {
	font-size: 1rem;
}

h1, h2 {
	font-family: 'Big Shoulders Text';
}

h1 {
	font-size: 2.4rem;
}

h2 {
	font-size: 1.6rem;
}

h6 {
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 1.3rem;
	line-height: 1.7rem;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #2f847c;
}

p > img {
	width: 100%;
	display: block;
	border-radius: 2rem;
	margin: 2rem auto 2rem auto;
}

.address {
	font-size: .9rem;
	margin-top: -.5rem;
	margin-bottom: 5px;
}

a:hover {
	text-decoration: underline;
}

li.current{
	font-weight: 700;
	text-decoration: underline;
	
}

.main {
	max-width: 900px;
	margin: 0px auto;
	padding: 24px 24px;
}
.content {
	display: flex;
}

.info {
	display: table-cell;
	width: 100%;
}

#cats {
	font-weight: 700;
	color: #2f6184;
}

.category {
	margin-top: 10px;
}

.tag-btn {
	background-color: #4D4D4D;
}

.cat-btn {
	background-color: #2f6184;
}

.btn:hover {
	background-color: #2f8452;
}

.title {
	margin: 0;
}
.btn {
	display:inline-block;
	padding-left:8px;
	padding-right:8px;
	margin-bottom:5px;
	text-align:center;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 13px;
	line-height: 23px;
	color: white;
	border-radius: 5px;
	text-transform: uppercase;
}

.btn:hover {
	text-decoration: none;
	-webkit-transition:
		background-color .3s,
		color .15s,
		box-shadow .3s,
		opacity 0.3s,
		filter 0.3s;
	transition:
		background-color .3s,
		color .15s,
		box-shadow .3s,
		opacity 0.3s,
		filter 0.3s;
}

.sheet {
	height: 100%;
	margin-top: 20px;
	padding: 0px 20px 20px 20px;
	border-left: 3px solid #b2b2b2;
	border-top: 3px solid #b2b2b2;
	border-top-left-radius: 20px;
}

#post-list {
	 max-width: 720px;
	 margin: 0 auto;
}

.post-info {
	font-size: .9rem;
}

.sitename {
	margin: 0px;
}

ul.nav {
	text-align: center;
	padding-inline-start: 0px;
}
ul.nav li {
	display:inline-block;
	padding-left:8px;
	padding-right:8px;
	text-align:center;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 1.3em;
	line-height: 1.5rem;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	p > img {
		width: 80%;
	  }
	}